.mdc-text-field--selectable-contents {
	outline:none;
	height:100%;
}
.mdc-text-field--selectable-contents textarea.mdc-text-filed__contents {
	height:100%;
	resize:none;
	padding:0 4px;
	border:1px solid rgb(240, 240, 240);
	margin:-1px -5px;
	outline:none;
	width:100%;	
	line-height:24px;
	font-family:monospace;
	word-spacing:0;
	white-space:pre;
	overflow:scroll;
}
.mdc-text-field--selectable-contents .mdc-line-ripple {
	bottom:-4px;
}